
body {
    margin: 0;  
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

/* Styling for User Alerts */
    .alert-area {
        width: 60%;
        margin: 10% auto;
        border: 2px solid white;
        padding: 25px;
        border-radius: 15px;
    }
/* End styling for user alerts */    

.hidden {
    display: none;
}

.lyricZone {
    display: block;
    height: 70vh;
}

.auth-btn {
    text-align: center;
    border-radius: 25px;
    font-size: 1.2rem;
    padding: 10px 0 ;
    color: white;
    border: 2px solid white;
    width: 10%;
    margin: 2% 45%;
    background: rgba(0,0,0,0);
}


.auth-btn:hover {
    cursor: pointer;
    border: 2px solid rgb(22, 224, 22);
    text-decoration: underline; 
    background: rgb(100, 100, 100);
    transition: .1s;
}

.auth-btn:focus {
    outline: 0;
}

.whole-enchilada {
    background: linear-gradient(rgb(94, 94, 94), rgb(10, 10, 10)),
                -webkit-linear-gradient(rgb(94, 94, 94), rgb(10, 10, 10));
    
    color: rgb(240,240,240);
    height: 98vh;
    padding: 1vh 0;
}

.app {
    width: 85%;
    margin: auto;
}

.track-info {
    text-align: center;
    margin-top: 5px;
}

a {
    color: rgb(240,240,240);
}

.album-zone {
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: contain;
    float: left;
    height: 70vh;
    width: 70vh;
    margin-top: 5vh;
    margin-left: -4vh;
}

.lyrics {
    white-space: pre-wrap;
}

.track-info {
    text-align: center;
    font-style: normal;
    padding: 0;  
}

.lyrics-container {
    max-height: 68vh;
    min-width: 40vw;
    width: 44vw;
    font-size: 1.5rem;
    margin: 2.5vh auto;
    float: right;
    text-align: center;
    margin-right: -5vh;
    overflow-y: scroll;
    overflow-x: hidden;
    line-height: 1.4em;
    text-align: center;
    margin-top: 6vh; 
}

.title {
    text-align: center;
    padding: 0;
    margin: 0;
    font-weight: lighter;    
}

.info {
    text-align: center;
    margin: 0;
}

/* Lyric scrollbar theme. adapted from w3schools reference */
    ::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
        border-radius: 10px;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgb(22, 224, 22); 
        border-radius: 10px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #b30000; 
    }  

@media(max-width: 1400px) {
    .lyrics-container {
        width: 44vw;
        height: 68vh;
        margin-right: 0;
    }

    .app {
        width: 97%;
    }

    .album-zone {
        margin-left: 0;
    }


}

@media(max-width: 1200px) {
    .app {
        width: 85%;
    }

    .album-zone {
        display: block;
        width: 100%;
        background-position: center;
        background-blend-mode: darken;
        
    }

    .lyrics {
        width: 95%;  
        margin: auto;
        font-size: 1.15rem;
        line-height: 1.4em;
    }

    .lyrics-container {
        top: 9vh;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        width: 60vh;
        height: 64vh;
        background: rgba(0,0,0,.9);
        margin-bottom: 2%;
    }

    .auth-btn {
        padding: 7px; 
        width: 16%;
        margin-left: 42%; 
    }
}

@media (max-width: 750px) {
    .auth-btn {
        width: 24%;
        margin-left: 38%;
    }
}

@media (max-width: 490px) {
    html {
        border: 1px solid orange;
    }
    body {
        border: 1px solid rgb(8, 230, 8);
    }
    .auth-btn {
        width: 36%;
        margin-top: -25px;
        margin-left: 32%;
    }

    .lyrics-container {
        width: 95%;
        margin: auto;
        top: 10px;
        padding-bottom: 2px;
        overflow: hidden;
    }

    .lyrics-zone {
        margin: 0;
    }

    .album-zone {
        margin: 0;
    }

    .track-info {
        font-size: .8rem;
    }

    .whole-enchilada {
        border: 1px solid red;
    }
}
